
<div class="logo" >
  <img src="/assets/img/logo.png" alt="Cidade do Recife">
</div>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Carnaval">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <div class = "list-carnival">
        <app-carnaval-list></app-carnaval-list>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Bares">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <div class = "list-bares">
        <app-bares-list></app-bares-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


